body > div {
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  margin: 0 5em;

  aside {
    min-width: 20vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    > span:first-child {
      border-bottom: solid black 1px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1em;

      #fruitsRadio {
        display: flex;
        flex-direction: column;
      }
    }
  }
  main {
    display: flex;
    width: 60vw;
    margin-bottom: 1em;
    flex-direction: column;
    gap: 1em;
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    article {
      background-color: #ffffffa1;
      border-radius: 10px;
      padding: 10px;

      h2 {
        margin: 0 0 0.5em 0;
      }

      section {
        h3 {
          border-left: solid #57bcec 5px;
          padding: 0.2em;
          padding-left: 0.5em;
        }
      }
    }
  }
}

body {
  background-image: url(https://storage.googleapis.com/studio-cms-assets/projects/9YWy1peXWM/s-2208x1242_v-frms_webp_25603875-f6e8-4e3e-ba79-dea34a163dd0_middle.png);
  background-size: cover;
}

header {
  text-align: center;
  border-bottom: solid black 1px;
  margin-bottom: 1em;
}
footer {
  text-align: center;
  border-top: solid black 1px;
  margin-top: 1em;
}


