body > div {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  margin: 0 5em;

  aside {
    min-width: min(15vw, 20em);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    div {
      display: flex;
      flex-direction: column;
    }

    hr {
      color: white;
      display: block;
      width: 100%;
    }

    > span:first-child {
      border-bottom: solid black 1px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1em;

      > input {
        width: 14vw;
      }

      #fruitsRadio {
        display: flex;
        flex-direction: column;
      }
    }
  }
  main {
    display: flex;
    width: 60vw;
    margin-bottom: 1em;
    flex-direction: column;
    gap: 1em;

    article {

      h2 {
        font-size: 1.5rem;
        padding-left: 10px;
        border-left: 5px solid #007bff;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        margin: 0 0 0.5em 0;
      }

      section {
        h3 {
          border-left: 4px solid #55cba6;
          padding-left: 8px;
          margin-top: 20px;
        }
      }
    }
  }
  #comment {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 1em;

    h3 {
      border-left: solid #57bcec 5px;
      padding: 0.2em;
      padding-left: 0.5em;
      background-color: #ffffffa1;
      margin-top: 0;
    }

  }
}

aside,
article,
.comment {
  background-color: #ffffffa1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.comment {
  padding: 10px;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

body {
  background-image: url(https://storage.googleapis.com/studio-cms-assets/projects/9YWy1peXWM/s-2208x1242_v-frms_webp_25603875-f6e8-4e3e-ba79-dea34a163dd0_middle.png);
  background-size: cover;
  backdrop-filter: blur(5px);
  margin: 0;
}

header {
  text-align: center;
  border-bottom: solid black 1px;
  margin-bottom: 1em;
}
footer {
  text-align: center;
  border-top: solid black 1px;
  margin-top: 1em;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 送信ボタンなど */
button, input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

  button:hover {
    opacity: 0.8;
  }
}

body {
  font-family: "UD デジタル 教科書体 N-R", "UDDigital教科書体 N-R", "Segoe UI", sans-serif;
  color: #333;
  line-height: 1.6;
}

